html{
    overflow-y: hidden;
  
  .Loggin {
    height: 100vh;
    width: 100vw;
    .loggin-container{
      display: inline-block;
      width: 41%;
      height: 100%;
      text-align: center;
      padding-top: 25vh;
      font-family: "Noto Sans JP", sans-serif;
      p{
        font-size: 20px;
        font-weight: 600;
        line-height: 1.6;
        letter-spacing: 0.15px;
        padding-bottom: 35px;
        color: rgb(33, 33, 33);
      }
      .inputError{
        border: 1px solid rgb(211, 47, 47);
        color: rgb(211, 47, 47);
        &::-webkit-input-placeholder{
          color: rgb(211, 47, 47);
          font-family: "Noto Sans JP", sans-serif;
        }
      }
      input{
        height: 33px;
        margin: 10px 0;
        width: 60%;
        color: currentColor;
        font-family: "Noto Sans JP", sans-serif;
        border-radius: 4px;
        border-color: #0000003b;
        font: inherit;
        letter-spacing: inherit;
        border: 1px solid rgb(198, 196, 196);
        position: relative;
        &:focus{
          outline: none;
        }
        &::-webkit-input-placeholder{
          font-family: "Noto Sans JP", sans-serif;
        }
      }
      input::-ms-reveal,
      input::-ms-clear {
        display: none;
      }
      .showErrorEmail, .showErrorPassword {
        color: rgb(211, 47, 47);
        text-align: left;
        margin-left: 8vw;
        font-size: 12px;
        line-height: 1.66;
        font-weight: 400;
        margin-top: -6px;
        margin-bottom: 5px;
        font-family: "Noto Sans JP", sans-serif;

      }
      .passwordInput{
        position: relative;
        span{
          position: absolute;
          top: 2.6vh;
          right: 9vw;
          i{
            color: rgba(106, 105, 105, 0.966);
          }
        }
      }
      button{
        height: 36px;
        margin: 10px 0 25px 0; 
        width: 60%;
        background-color: rgb(2, 136, 209);
        color: rgb(255, 255, 255);
        cursor: pointer;
        border-style: none;
        font-size: 14px;
        font-weight: 600;
        border-radius: 4px;
        letter-spacing: 0.15px;
        box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
      &:hover{
        box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 01px 4px 8px 4px;
      }
      }
        .forgetPasswordLoggin{
          text-decoration: none;
          color: rgb(102, 102, 102) !important;
          font-size: 14px;
          letter-spacing: 0.4;
          font-weight: 400;
          line-height: 1.43;
          cursor: pointer;
          margin-top: 10px;
        }
      
    }
    .loggin-right{
      width: 58.7%; 
      height: 100%;
     float: right;
      background-image: url('../../../assets/image/loggin-right.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  }