html{
    .Interface{
        display: flex;
        min-height: 100vh;
        width: 100%;
        height: 200vh;
        min-width: 60px;
        font-family: "Noto Sans JP", sans-serif;
        box-sizing: border-box; 
        .overall-container{
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0%;
            min-width: 150px;
            position: relative;
            .overall-content{
                width: 100%;
                height: 100%;
                background-color: rgb(250, 250, 250);
                position: relative;
                overflow-y: auto;
                padding: 30px 20px;
                font-family: "Noto Sans JP", sans-serif;
                border-left: 1px solid rgb(224, 224, 224);
                .content{
                    color: rgb(33, 33, 33);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.5;
                }
                .title-content{
                    color: blue;
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 1.6;
                    letter-spacing: 0.15px;
                    color: rgb(33, 33, 33);
                    margin: 15px 10px 15px 0px;
                }
                .toolbars-content{
                    width: 97%;
                    border: 1px solid rgb(224, 224, 224);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 4px;
                    background-color: rgb(255, 255, 255);
                    overflow-y: hidden;
                    flex-wrap: nowrap;
                    padding: 10px 0px;
                    position: relative;
                    .title-tools{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        min-height: 48px;
                        .btn-title-tools{
                            display: inline-flex;
                            background-color: transparent;
                            align-items: center;
                            outline: 0px;
                            border: 0px;
                            cursor: pointer;
                            font-size: 14px;
                            font-weight: 400;
                            letter-spacing: 0.4px;
                            line-height: 1.25;
                            color:rgb(158, 158, 158);
                            max-width: 360px;
                            min-width: 90px;
                            min-height: 48px;
                            flex-shrink: 0;
                            padding: 12px 16px;
                            text-align: center;
                            flex-direction: column;
                            overflow: hidden;
                            transition: all 0.15s ease 0s;
                        }
                        .btn-title-change{
                            display: inline-flex;
                            background-color: transparent;
                            align-items: center;
                            outline: 1px;
                            border: 0px;
                            cursor: pointer;
                            font-size: 14px;
                            font-weight: 600;
                            letter-spacing: 0.4px;
                            line-height: 1.25;
                            color:rgb(2,136,209);
                            max-width: 360px;
                            min-width: 90px;
                            min-height: 48px;
                            flex-shrink: 0;
                            padding: 12px 16px;
                            text-align: center;
                            flex-direction: column;
                            overflow: hidden;
                            position: relative;
                            transition: all 0.15s ease 0s;
                            &::before{
                                content: "";
                                position: absolute;
                                top: 90%;
                                left: 5%;
                                width: 100%;
                                height: 0.2rem;
                                background-color: rgb(2,136,209);
                                transition: all 0.15s ease 2s;
                            }
                        }
                    }
                    .folder-tools{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        min-width: 45px;
                        overflow: hidden;
                        padding-right: 10px;
                        .creat-new-list{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            height: 36px;
                            padding: 0px 10px;
                            border: 1px solid rgba(0, 0, 0, 0.23);
                            border-radius: 4px;
                            margin: 0px 10px;
                            cursor: pointer;
                            i{
                                font-size: 1.1rem;
                                color: black;
                            }
                        }
                    }
                }
                .data-table-container{
                    width: 97%;
                    height: 70%;
                    border: 1px solid rgb(0, 0, 0, 0.2);
                    border-radius: 4px;
                    background-color: rgb(255, 255, 255);
                    margin-top: 20px;
                    position: relative;
                    overflow-y: hidden;
                    .data-table-title{
                        display: table;
                        width: 100%;
                        border-collapse: collapse;
                        border-spacing: 0px;
                        min-width: 650px;
                        .thead-data-table{
                            display: table-header-group;
                            font-size: 14px;
                            background: rgba(0, 0, 0, 0.04);
                            color: rgb(33, 33, 33);
                            .border-rights{
                                border-right: 1px solid rgba(0, 0, 0, 0.2);
                            }
                            .border-bottoms{
                                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                            }
                            .first-thead-data{
                                display: table-row;
                                vertical-align: middle;
                                outline: 0px;
                                td{
                                    font-size: 14px;
                                    letter-spacing: 0.4px;
                                    line-height: 1.5rem;
                                    color: rgb(33, 33, 33);
                                    display: table-cell;
                                    vertical-align: inherit;
                                    text-align: center;
                                    padding: 16px;
                                    font-weight: 600;
                                }
                                th{
                                    font-size: 14px;
                                    letter-spacing: 0.4px;
                                    line-height: 1.5rem;
                                    color: rgb(33, 33, 33);
                                    display: table-cell;
                                    vertical-align: inherit;
                                    text-align: center;
                                    padding: 16px;
                                    font-weight: 600;
                                }
                                
                            }
                        }
                        tbody{
                            height: 62px;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                            tr{
                                height: 70px;
                               td{
                                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                                font-size: 14px;
                                line-height: 1.5;
                                text-align: center;
                                font-weight: 400;
                                color: rgb(33, 33, 33);
                                padding: 5px 5px 0px;
                                }
                                .company-ticker{
                                    letter-spacing: 0.4px;
                                }
                                .company-name{
                                    color: rgb(2,136,209);
                                    letter-spacing: 0.4px;
                                }
                                .company-eps-item{
                                    .company-number-change{
                                        // display: flex;
                                        // justify-content: center; 
                                        align-items: center;
                                        margin-top: -5px;
                                        p{
                                            i{
                                                  padding: 0px 5px;  
                                            }
                                        }
                                        // i{
                                        //     margin:0px 5px;
                                        //     margin-top: 1px;
                                        // }
                                        .display-none{
                                            display: none; 
                                        }
                                        .color-green{
                                            color: rgb(47,125,51);
                                        }
                                        .color-red{
                                            color: rgb(211,47,47);
                                        }
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}


